.account-seperation{
    display: flex;
    flex-direction: column;
}

.info-flex{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-pic{
    background-color: gray;
    width: 100px;
    height: 100px;
    margin-right: 50px;

    border-radius: 100px;
}
.written h1{
    text-align: left;
}
.written h2{
    margin-top: 20px;
    font-size: 20px;
    width: 500px;
    text-align: left;
}

.written p{
    margin-top: 20px;
    font-size: 16px;
    width: 500px;
    text-align: left;
}

.posts-flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.posts-flex img{
    height: 400px;
    width: 740px;
    background-color: gray;
}

.post{
    background-color: white;
    padding: 20px;
    box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.1);
}